<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.movie">

    <application>
        <activity android:name=".MainActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/movie_ScrollPage"/>
        <activity android:name=".activity.MovieIsHitActivity"/>
    </application>

</manifest>